body {
  margin: 0;
  background-image: url(sea2.png);
  background-size: cover;
}

/* ヘッダー */
header {
  background-image: url(rainbow.jpg) ;
  background-size: cover;
  padding-top: 10px;
  height: 200px;

}
.icon {
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
  font-family:Comic Sans MS;
  margin-bottom: 30px;
  letter-spacing: 15px;
  color: rgba(201, 25, 201, 0.788);
  text-shadow: rgba(59, 42, 155, 0.788) 2px 0 10px;
}

/* ハンバーガー */
#hmenu {
  padding: 12px;
}
#hcheck, #hclose {display: none;}

#hopen {
  display: block;
  cursor: pointer;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0px 3px 10px 2px rgba(239, 131, 243, 0.5) ;
  width: 500px;
  background-attachment: fixed;
  background-image: url(kawaii.png) ;
}

#hopen img {
  display: block;
  
}
#hclose, nav {
  position: fixed;
  left: 0;
  top:0;
  height: 50%;
  margin-top: 100px;
}

#hclose {
  z-index: 2;
  width: 100%;
  opacity: 0.5;
  transition: 0.5s;
}

nav {
  z-index: 20px;
  width: 200px;
  background: white;
  transition: 0.5s;
  transform: translateX(-100%); 
  background-color: pink
}

#hcheck:checked ~ #hclose { display: block;}
#hcheck:checked ~ nav {
  transform: translateX(0);
}

.acm {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.6s;
}

#acm1:checked + ul {
  height: 6.2em;
}

.acm li {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.acm a{
  display: block;
  text-decoration: none;
  padding: 0.8em 0.8em 0 0.8em;
  color: #000;
  background: #eee;
}

li:last-child a {
  padding-bottom: 0.8em;
}

/* トップページの画像 */

.fruits {
  margin-top: 80px;
  text-align: center;
  
}

.cream {
  margin-top: 20px;
  text-align: center;  
}


.gelato {
  margin-top: 50px;
  text-align: center;
}

.text p {
  letter-spacing: 5px;
  line-height: 1.8;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 1000px) {
  header {
    background-size: cover;
    height: 120px;
    margin-bottom: 30px;
  }

  .icon {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

   /* トップページの画像 */

.fruits img {
  width: 150px;
  height: 150px;
  margin-left: 20px;
  margin-top: 20px;
}

.fruits {
  margin-top: 10px;
  text-align: center;
}

.cream {
  margin-top: 10px;
  text-align: center;  
}


.cream img {
  width: 130px;
  height: 130px;
  margin-left: 10px;
}

.gelato {
  margin-top: 20px;
  text-align: center;
}

.gelato img {
  width: 130px;
  height: 130px;
  margin-left: 10px;
}

}

@media (max-width: 670px) {
  body {
    background-image: url(sea.png);
  }

  header {
    height: 100px;
    background-size: cover;
    
  }

  .icon {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* ハンバーガー */

  #hmenu {
    padding: 12px;
    margin-right: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 16px;
  }

  #hopen {
    display: block;
    background-image: url(kawaii.jpeg) ;
    cursor: pointer;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px 2px rgba(239, 131, 243, 0.5) ;
    width: 330px;
  }

  

  /* トップページの画像 */

.fruits img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.fruits {
  margin-top: 10px;
  text-align: center;
}


.cream {
  margin-top: 10px;
  text-align: center;  
}


.cream img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.gelato {
  margin-top: 20px;
  text-align: center;
}

.gelato img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}
  
}