body {
  margin: 0;
}

/* ヘッダー */
header {
  background-image: url(rainbow.jpg);
  background-size: cover;
  padding-top: 10px;
  height: 200px;

}
.icon {
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 30px;
}

/* ハンバーガー */
#hmenu {
  padding: 12px;
}
#hcheck, #hclose {display: none;}

#hopen {
  display: block;
  background-image: url(kawaii.jpeg);
  cursor: pointer;
  height: 20px;
}

#hopen img {
  display: block;
  
}
#hclose, nav {
  position: fixed;
  left: 0;
  top:0;
  height: 50%;
  margin-top: 100px;
}

#hclose {
  z-index: 2;
  width: 100%;
  opacity: 0.5;
  transition: 0.5s;
}

nav {
  z-index: 20px;
  width: 200px;
  background: white;
  transition: 0.5s;
  transform: translateX(-100%); 
  background-color: pink
}

#hcheck:checked ~ #hclose { display: block;}
#hcheck:checked ~ nav {
  transform: translateX(0);
}

.acm {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.6s;
}

#acm1:checked + ul {
  height: 6.2em;
}

.acm li {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.acm a{
  display: block;
  text-decoration: none;
  padding: 0.8em 0.8em 0 0.8em;
  color: #000;
  background: #eee;
}

li:last-child a {
  padding-bottom: 0.8em;
}

/* トップページの画像 */

.fruits {
  margin-top: 20px;
  text-align: center;
}
.fruits p {
  font-size: 30px;
  text-align: center;
}

.cream {
  margin-top: 60px;
  text-align: center;  
}
.cream p {
  font-size: 30px;
  text-align: center;
}

.gelato {
  margin-top: 50px;
  text-align: center;
}
.gelato p {
  font-size: 30px;
  text-align: center;
}

@media (max-width: 1000px) {
  header {
    margin-left: 30px;
    margin-right: 30px;
  }

   /* トップページの画像 */

.fruits img {
  width: 600px;
  height: 200px;
  margin-left: 20px;
}

.fruits {
  margin-top: 10px;
  text-align: center;
}
.fruits p {
  font-size: 25px;
}

.cream {
  margin-top: 10px;
  text-align: center;  
}
.cream p {
  font-size: 25px;
  margin-top: 0px;
  text-align: center;
}

.cream img {
  width: 900px;
  height: 200px;
  margin-left: 10px;
}

.gelato {
  margin-top: 20px;
  text-align: center;
}
.gelato p {
  font-size: 25px;
  text-align: center;
}

.gelato img {
  width: 750px;
  height: 200px;
  margin-left: 10px;
}

}

@media (max-width: 670px) {
  .icon {
    font-size: 30px;
  }

  header {
    background-size: 670px;
  }

  /* トップページの画像 */

.fruits img {
  width: 300px;
  height: 110px;
  margin-left: 20px;
}

.fruits {
  margin-top: 10px;
  text-align: center;
}
.fruits p {
  font-size: 20px;
  text-align: center;
}

.cream {
  margin-top: 10px;
  text-align: center;  
}
.cream p {
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
}

.cream img {
  width: 350px;
  height: 80px;
  margin-left: 10px;
}

.gelato {
  margin-top: 20px;
  text-align: center;
}
.gelato p {
  font-size: 20px;
  text-align: center;
}

.gelato img {
  width: 350px;
  height: 80px;
  margin-left: 10px;
}
  
}